<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Classes</h4>
                        <p class="card-category">Work on Creation of Classes, Addition of Students and Exam titles</p>
                    </div>
                    <div class="card-body row mx-2">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    <h3>
                                        Classes
                                        <i data-toggle="modal" class="float-right fa fa-plus-circle" (click)="openModal()" style="cursor: pointer;"></i>
                                    </h3>
                                </div>
                                <div class="card-text" *ngIf="classList.length == 0">No classes added</div>
                                <div class="card-text" *ngIf="classList.length > 0">
                                    Classes are added...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
