<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Classes</h4>
            <p class="card-category">
              Work on Creation of Classes, Addition of Students and Exam titles
            </p>
          </div>
          <div class="card-body row mx-2">
            <div class="card">
              <div class="card-body">
                <div class="card-title d-flex justify-content-between">
                  <div>
                    <span style="font-size: 25px">Classes</span>
                  </div>
                  <div>
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="createClass()"
                      style="cursor: pointer"
                    >
                      <span class="material-icons mr-2"> add_business </span>
                      Create Class
                    </button>
                    <!-- <button
                      mat-raised-button
                      color="primary"
                      (click)="createStudent()"
                      style="cursor: pointer"
                    >
                      <span class="material-icons mr-2"> add_reaction </span>
                      Create Student
                    </button> -->
                  </div>
                </div>
                <div class="card-text" *ngIf="classList.length == 0">
                  No classes added
                </div>
                <div class="card-text" *ngIf="classList.length > 0">
                  <div
                    *ngFor="let class of classList"
                    class="d-flex justify-content-between"
                  >
                    <span>{{ class.grade }} {{ class.division }}</span>
                    <div>
                      <span
                        class="material-icons mr-2"
                        (click)="createStudent(class.grade, class.division)"
                        style="cursor: pointer"
                      >
                        person_add_alt_1
                      </span>
                      <span
                        class="material-icons mr-2"
                        (click)="editClass(class)"
                        style="cursor: pointer"
                      >
                        edit
                      </span>
                      <span
                        class="material-icons"
                        (click)="deleteClass(class)"
                        style="cursor: pointer"
                      >
                        delete
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
